---
---

$orange: #ff8f00;
$purple: #1d0c52;

$background-purple: #140257;
$dark-gray: #24292e;
$dark-blue: #3153aa;
$light-blue: #ececff;
$medium-blue: #4371e8;

$velvet-background: "/assets/images/velvet-desktop-background.jpg";

$neon-off: "/assets/images/neon-off.png";
$neon-on: "/assets/images/neon-on.png";

*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

html {
    background: no-repeat fixed $background-purple;
    background-position: top left, bottom left;
    background-size: 25%;
    background-image: url(#{$neon-off}), url(#{$velvet-background});

    animation: 1s neon-animation forwards;
    animation-delay: 2s;
    animation-iteration-count: 1;

    font-size: 14px;
    line-height: 1.5;
    color: $dark-gray;
    margin: 0;
}

@keyframes neon-animation {
  80% {background-image: url(#{$neon-on}), url(#{$velvet-background});}
  81% {background-image: url(#{$neon-off}), url(#{$velvet-background});}
    
  90% {background-image: url(#{$neon-on}), url(#{$velvet-background});}
  91% {background-image: url(#{$neon-off}), url(#{$velvet-background});}

  100% {background-image: url(#{$neon-on}), url(#{$velvet-background});}
}

body {
  max-width: 1280px;
  width: 45%;
  margin: 0 0 0 25%;

  a#logo {
    display: block;
    width: 25%;
    height: 11vw;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  header {
    font-family: "Raleway", sans-serif;
    background-color: $dark-gray;
    font-size: 16px;
    height: 50px;
    
    a {
      color: white;
      width: 25%;
      min-width: 130px;
      text-align: center;
      padding: 5px;
      margin: 8px 8px 8px 0;
      display: inline-block;

      &.header-icon {
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        min-width: initial;
        width: 35px;
        height: 35px;
        padding: 0;

        &#twitter {
          display: none;
          background-image: url("/assets/images/icons/twitter.svg");
        }

        &#facebook {
          display: none;
          background-image: url("/assets/images/icons/facebook.png");
        }

        &#rss {
          background-image: url("/assets/images/icons/rss.svg");
        }
      }
    }

    div.social {
      float: right;

      div#search-container {
        display: none;
        float: right;
        width: 200px;
        margin: 8px;

        input#search-input {
          width: 100%;
          font-size: 14px;
          border: 1px solid black;
          padding: 3px 0 3px 10px;
          margin: 5px 0 10px 0;
          font-family: "Raleway", sans-serif;
        }

        ul#results-container {
          display: none;
          border: none;
          margin: 0 0 5px 0;
        }
      }
    }
    
  }

  div.page {
    padding: 50px;
    background: white;
  }

  div.page, div.posts {
    min-height: 420px;

    h1 {
      font-family: "Raleway", sans-serif;
      font-size: 39px;
      padding: 0;
      margin: 0 0 40px 0;
      text-align: center;
      font-weight: 700;
    }

    article.post {
      background: white;
      padding: 40px;
      margin-bottom: 15px;
    }

    div.entry {
      background-color: white;
      width: 95%;
      margin: 0 auto;
      font-family: 'Roboto Slab', serif;
      font-size: 17px;
      line-height: 1.7;

      > h1 {
        text-align: left;
        font-size: 32px;
        font-weight: 700;
        margin: 0;
        padding-bottom: 0;

        > a {
          text-decoration: none;
        }
      }

      h2 {
        text-align: center;
        font-family: "Raleway", sans-serif;
        margin: 15px;
      }

      h3 {
        font-size: 20px;
        margin: 25px 0 0 0;
      }

      a {
        text-decoration: underline;
        text-decoration-color: $orange;
        font-weight: bold;
      }

      img {
        max-width: 90%;
        display: block;
        margin: 15px auto;
        border: 1px solid $purple;
        padding: 2px;
        background-color: white;
      }

      ul {
        margin: 0 30px 0 30px;
      }

      .post_summary {
        border: 1px solid $medium-blue;
        margin-bottom: 30px;

        div.publication_date {
          color: white;
          background: $medium-blue;
          padding: 2px 3px 3px 8px;
          margin: 0;
        }

        p.post_description {
          font-style: italic;
          margin: 10px;
        }
      }
    }

    div.date {
      font-style: italic;
      background: white;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      padding: 40px 15px 0 0;
      text-align: right;
    }
  }

  div#sidebar {
    display: none;

    font-family: "Raleway", sans-serif;
    position: absolute;
    background: white;
    border-radius: 0 10px 10px 0;
    left: 65%;

    h1 {
      font-size: 25px;
      margin: 10px 0 10px 30px;
    }

    h3 {
      margin: 15px 0 5px 0;
      background: url("/assets/images/icons/file-text.svg") no-repeat;
      padding-left: 30px;
    }

    div {
      padding: 10px;
      max-width: 340px;
    }

    li {
      line-height: 30px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: url("/assets/images/icons/file-text.svg") no-repeat;
      padding-left: 30px;
    }

    ul {
      list-style: none;
      text-overflow: ellipsis;
      padding-left: 0;
      margin: 0;
    }
  }
}

/* Youtube iframe */
iframe {
  margin: 15px auto;
  display: block;
  width: 90%;
  height: 395px;
}

a {
  color: $dark-blue;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: underline;
    text-decoration-color: $orange;
  }
}

code {
  font-family: "Inconsolata", monospace;
  color: red;
  font-size: 17px;
}

/**
 * 
 * Media queries
 * 
 */

@media all and (max-width: 2200px) {
  body {
    width: 60%;
  }
}


@media all and (max-width: 1000px) {
  html {
    background-size: 100%;
    background-image: url("/assets/images/velvet-desktop-background.jpg");
    background-position: bottom left;
  }
  
  body {
    width: 100%;
    margin: 0;

    a#logo {
      position: static;
      width: 100%;
      height: 45vw;
      background-image: url("/assets/images/neon-on.png");
      background-size: 100%;
      background-color:  $background-purple;
    }

    div.page, div.posts {
      padding: 5px;
      margin-bottom: 70vw;

      h1 {
        font-size: 25px;
        text-align: center;
        margin: 50px 0 30px 0;
      }
    }
  }
}